.nav {
    font-size: 16;
    font-weight: $gotham-pro-medium;

    &__list {
        display: flex;
        column-gap: 26px;

        & li {
            display: flex;
            column-gap: 26px;
            justify-content: center;
            align-items: center;
        }

        & li img {
            width: 19px;
        }
    }
}