//Fonts
$gotham-pro-regular: 400;
$gotham-pro-medium: 500;
$gotham-pro-bold: 700;
$gotham-pro-black: 900;

//Colors
$bg-color: #FFFFFF;
$accent: #363B46;
$white: #FFFFFF;
$black: #000000;
$bg-form: #F8F8F8;
$link: #131313;
$active: #F86161;